body {
  width: 800px;
  margin: 0 auto;
  background-color: #000000;
  padding: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  background-color: transparent;
}

#videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  width: 100%;
  padding: 10px;
}

#offerslist {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: 150px;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
  padding-top: 34px;
  overflow-y: auto;
  gap: 10px;
}

#offerslist sub {
  left: 5%;
  top: 5%;
  position: absolute;
}

#offerslist button {
  width: 100%;
  max-width: 250px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 1em;
}

button {
  background-color: #a21fff;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 5px;
  transition: all 0.1s;
}

button:active{
  transform: scale(0.9);
}

video {
  width: 100%;
  border: 2px solid greenyellow;
  background-color: rgb(63, 62, 62);

}

textarea {
  height: 50px;
  width: 100%;
  padding: 3px;
}

.step {
  padding: 10px;
  margin: 10px;
}

.step p {
  margin: 0;
}


@media screen and (max-width:800px) {
  body {
    width: 100%;
  }
}